@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  background: #ddd;
  text-align: center; 
  font-family: consolas;
}

header {
  position: fixed;
  top: 0;
  width: 100%
}

h1 {
  float:left;
  font-family: 'Lobster';
  font-size: 43px;
}

main {
  padding-top: 80px;
  text-align: center; 
  font-family: consolas;
}

img {
  hspace: 10px;
  vspace: 10px;
}

a {
  text-decoration: none;
}

ul{
  display: block;
}

p{
  text-align: left; 
  padding-left: 25%;
  padding-right: 25%;
}

#banner {
  background-color: #33cc33 !important;
  height: 80px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cardsAM>div>img {
  width: 25%;
  padding: 2%;
  max-width: 300px;
}

.cards3>img {
  width: 30%;
  padding: 1%;
}

.cards2>img {
  width: 47%;
  padding: 1%;
}

.cards1>embed {
  width: 95%;
  height: 1200px;
  padding: 1%;
}

.navbar-fixed-top {
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
}

#banner .container {
  padding-right: 10px;
  padding-left: 10px
}


.navbar-collapse.collapse {
  display: block!important;
  height: auto!important;
  padding-bottom: 0;
  overflow: visible!important;
}

.navbar-collapse {
  width: auto;
  border-top: 0;
  box-shadow: none;
}

.navbar-right {
  float: right!important;
  margin-right: 15px;
}

.nav>li {
  position: relative;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-flex;
}

.nav>li a {
  padding: 10px 20px;
}

.navbar-nav>li {
  float: left;
}

.navbar-nav>li>a {
  line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
}

.card01f {
  background-color: #99ff99;
  border: solid 1em #99ff99;
}

.card01b {
  background-color: #ccffcc;
  border: solid 1em #ccffcc;
}

.card02f {
  background-color: #99ccff;
  border: solid 1em #99ccff;
}

.card02b {
  background-color: #cce6ff;
  border: solid 1em #cce6ff;
}

.card03f {
  background-color: #ffffcc;
  border: solid 1em #ffffcc;
}

.card03b {
  background-color: #ff9999;
  border: solid 1em #ff9999;
}

.card04f {
  background-color: #ffcc99;
  border: solid 1em #ffcc99;
}

.card04b {
  background-color: #ffe6cc;
  border: solid 1em #ffe6cc;
}

.card05f {
  background-color: #f2e6ff;
  border: solid 1em #f2e6ff;
}

.card05b {
  background-color: #e6ccff;
  border: solid 1em #e6ccff;
}

.card06f {
  background-color: #ffe6e6;
  border: solid 1em #ffe6e6;
}

.card06b {
  background-color: #ffcccc;
  border: solid 1em #ffcccc;
}

.card07f {
  background-color: #ffffe6;
  border: solid 1em #ffffe6;
}

.card07b {
  background-color: #ffffcc;
  border: solid 1em #ffffcc;
}


/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    margin:0px;
}
 
.accordion {
    overflow:hidden;
}
 
/*----- Titles -----*/
.accordion-title {
    width:100%;
    padding:15px;
    color:#000;
}
 
.accordion-title.active, .accordion-title:hover {
    background:#fff;
    /* Type */
    text-decoration:none;
}
 
/*----- Content -----*/
.accordion-content {
    padding:15px;
    display:none;
}
